:root {
	--main-radius: 5px;
	--main-padding: 15px;
}

body {
	display: grid;
	font-family: 'Inter', sans-serif;
	align-items: center;
}

.grid-container {
	display: grid;
	height: 98vh;
	grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 0.8fr;
	grid-template-rows: 0.4fr 2fr 4fr 4fr 0.4fr;
	grid-template-areas:
		'social nav nav nav profile'
		'social main main main  profile'
		'social card1 card2 card3 sidebar'
		'social card4 card5 card6 sidebar'
		'footer footer footer footer footer';
	grid-gap: 0.3rem;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 14px;
	color: #004d40;
	text-align: center;
}

nav {
	background: darkorange;
	grid-area: nav;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

main {
	background-color: grey;
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#profile {
	background-color: red;
	grid-area: profile;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	/* text-align: center;
  font-size: 30px; */
}

.social {
	background-color: burlywood;
	grid-area: social;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	/* text-align: center;
  font-size: 30px; */
}

#sidebar {
	background-color: darkorange;
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	/* text-align: center;
	font-size: 30px; */
}

#card1 {
	background-color: peru;
	grid-area: card1;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#card2 {
	background-color: peru;
	grid-area: card2;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#card3 {
	background-color: peru;
	grid-area: card3;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#card4 {
	background-color: peru;
	grid-area: card4;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#card5 {
	background-color: peru;
	grid-area: card5;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#card6 {
	background-color: peru;
	grid-area: card6;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
#card7 {
	background-color: peru;
	grid-area: card7;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}
#card8 {
	background-color: peru;
	grid-area: card8;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

footer {
	background-color: darkorange;
	grid-area: footer;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	text-align: center;
}
/* query types all, print, screen, speech */
/* query + rule + css */

@media only screen and (max-width: 550px) {
	.grid-container {
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr 3fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr 4fr 1fr 1fr;
		grid-template-areas:
			'nav'
			'main'
			'profile'
			'card1'
			'card2'
			'card3'
			'card4'
			'card5'
			'card6'
			'sidebar'
			'social'
			'footer';
	}
}
