body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

header {
	background: lightblue;
	padding: 2rem;
}

main {
	background: grey;
	padding: 2rem;
}

footer {
	background: darkgrey;
	padding: 2rem;
	text-align: center;
}

body {
	font-family: system-ui, sans-serif;
}
