body {
	display: grid;
	height: 95vh;
	grid-template: auto 1fr auto / auto 1fr auto;
}

header {
	background: lightgray;
	padding: 2rem;
	grid-column: 1 / 4;
}

.left-sidebar {
	background: lightgreen;
	grid-column: 1 / 2;
}

main {
	background: grey;
	grid-column: 2 / 3;
}

.right-sidebar {
	background: yellow;
	grid-column: 3 / 4;
}

footer {
	background: darkgrey;
	padding: 2rem;
	text-align: center;
	grid-column: 1 / 4;
}

body {
	font-family: system-ui, sans-serif;
}

.left-sidebar,
.main,
.right-sidebar {
	padding: 1rem;
}
