body {
	display: grid;
	height: 95vh;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

div {
	display: grid;
	place-items: center;
	background: gray;
}

body {
	font-family: system-ui, sans-serif;
}
