body {
	display: grid;
	place-items: center;
	height: 95vh;
}

.graphic {
	height: 100px;
	width: 100%;
	background: darkgrey;
	margin: 0.5rem 0;
}
/* ch is width of 0 (zero) char */
.card {
	width: clamp(45ch, 50%, 75ch);
	display: flex;
	flex-direction: column;
	background: lightgrey;
	padding: 1rem;
}

body {
	font-family: system-ui, sans-serif;
}

h1 {
	font-size: 1.5rem;
}
